<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Title -->
    <title>Sorry, This Page Can&#39;t Be Accessed</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
</head>

<body>
    <!-- Image and text -->
    <nav class="navbar header-fcdrive d-flex p-2">
        <div class="navbar-brand" href="#">
            <img src="../assets/images/logotipo_branco.png" class="d-inline-block align-top fcdrive-img" alt="">
        </div>
        <div class="actions">
            <div class="option" id="close"><strong>x</strong></div>
            <div class="option" id="minimize"><strong>–</strong></div>
        </div>
    </nav>
    <br>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-2 text-center">
                <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />Status Code: 403</p>
            </div>
            <div class="col-md-10 text-center">
                <h3>OPPSSS!!!!</h3>
                <p>Desculpe, seu acesso foi negado por motivos de segurança.
                    <br />Por favor volte e faça login com uma credencial válida.</p>
                <a class="btn btn-fcamara-login" href="javascript:history.back()">Voltar</a>
            </div>
        </div>
    </div>
    <script src="../assets/scripts/electronWindow.js"></script>
</body>

</html>